@import "./variables.scss";
*,
*:before,
*:after {
  box-sizing: border-box;
  content: "";
  margin: 0;
  padding: 0;
  outline: none;
  margin: none;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 2px 6px -3px black;
  -moz-box-shadow: 0 2px 6px -3px black;
  box-shadow: 0 2px 6px -3px black;
}

#root {
  font-family: Helvetica, Arial, sans-serif;
  background: white;
  .content {
    padding: 30px;
    height: 100%;
  }
}

//table
table {
  border-spacing: 0;
  width: 100%;

  th {
    background-color: #ededed;
    text-transform: capitalize;
  }

  th,
  td {
    border: solid 1px #ccc;
    padding: 3px 10px;
    text-align: center;
    vertical-align: initial;
    &.no-padding {
      padding: 0;
      border: 0;
    }
    &.align-middle {
      vertical-align: middle;
    }
  }

  tfoot {
    text-align: left;
    font-size: 11px;
    ul {
      margin: 0;
      padding: 0 15px;
    }
  }

  input,
  select,
  button {
    @extend .one-edge-shadow;
    width: 100%;
    padding: 5px;
    margin: 8px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
  }
  input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  input[type="button"],
  button {
    @extend .one-edge-shadow;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    &.warning {
      background-color: #ffa500;
    }
    &.info {
      background-color: #007bff;
    }
  }
  input[type="button"]:hover,
  button:hover {
    -webkit-box-shadow: -1px 2px 8px -2px black;
    -moz-box-shadow: -1px 2px 8px -2px black;
    box-shadow: -1px 2px 8px -2px black;
  }
}
//input error handling
.p-relative {
  position: relative;
  .error,
  .notice {
    position: absolute;
    bottom: 50px;
    left: 12px;
    padding: 0.5em 1em 0.4em;
    background-color: $error-color;
    border: 1px solid #f00;
    border-radius: 5px;
    color: #fff;
  }
  .error::after,
  .error::before,
  .notice::after,
  .notice::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 15px;
    border: solid transparent;
  }
  .error::after,
  .notice::after {
    margin-left: 1px;
    border-top-color: $error-color;
    border-width: 7px;
  }
  .error::before,
  .notice::before {
    border-top-color: #f00;
    border-width: 8px;
  }
  .notice {
    background-color: $warning-color;
    &::after {
      border-top-color: $warning-color;
    }
  }
}
